# Dependencies
**/node_modules/

# Build and test output
**/dist/
**/test-results/
**/coverage/

# Environment and secrets
**/.env
**/.env.*
!**/.env.example

# Logs and local tooling
*.log
.vscode/
.DS_Store
/build
/tmp

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
logs

# dotenv environment variable files
**/.env
**/.env.*
!**/.env.example

# temp directory
.temp
.tmp
